!!! 5
html(lang='en')
head
    meta(charset='utf-8')
    title simpleCRUD
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='simpleCRUD is an application that help to manage your stock, your team, etc')
    meta(name='author', content='Javier Tomas Zon')

    link(href='./css/bootstrap.css', rel='stylesheet')
    link(rel='shortcut icon', href='./img/favicon.png')

  body
    include inc/navbar
    block container
    
    script(src='./js/jquery-1.9.1.js')
    script(src='./js/bootstrap.js')